<!-- FILEPATH: /c:/Users/Port_App_Movistar/Documents/Proyect_Clima_JavaScript/src/app/modules/auth/page-auth/page-auth.component.html -->
<section>
  <form [formGroup]="formLogin">
    <h2>Iniciar Sesion</h2>
    <input formControlName="user" type="text" placeholder="Usuario">
    <input formControlName="password" type="password" placeholder="Contraseña" >
    <button [disabled]="formLogin.invalid">Ingresar</button>
  </form>

  <div class="divmess">
    Raw: {{formLogin.value | json}}
    Valida: {{formLogin.invalid}}
  </div>
</section>