section {
  background: rgba(144, 200, 243, 0.4);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  padding-bottom: 20px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"] {
  font-size: 20px;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #1c1c1c;
  margin-bottom: 10px;
  width: 280px;
}

/* Estilos para el botón */
button {
  width: 310px;
  background-color: #16b2c7;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #3ed53c;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
}